{% layout 'layout.liquid' %}

<!-- here we start our block content -->

{% block content  %}

    <div> 
        <a href="/fruits/new">Create A New Fruit</a>
        {% for fruit in fruits %}
            <article>
                <a href="/fruits/{{fruit.id}}">
                    <h2>
                        {{fruit.name}}
                        {%  if fruit.readyToEat %}
                            Ripe
                        {% else %}
                            Not Ripe
                        {% endif %}
                    </h2>
                </a>
            </article>
        {% endfor %}
    </div>

{% endblock %}